.row-dragging {
    background: #fafafa;
    border: 1px solid #ccc;
    padding: 16px;
}
  
.row-dragging td {
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: middle;
    text-align: center;
}
  
.row-dragging .drag-visible {
    visibility: visible;
}